@font-face {
	font-family: "Lato";
	src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato";
	src: url("assets/fonts/Lato-Bold.ttf");
	font-weight: bold;
}

:root {
	font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: inherit;
}

button {
	border: 1px solid transparent;
	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
